# Feature Preprocessing

Goal: Find ways to encode te features to incorporate them into our model.

In [5]:
import pandas as pd
import numpy as np
import os

In [9]:
# Read the sample file
co_file = os.path.join("client_start_folder","Co_600K_Jul2019_6M.pkl")
df_co = pd.read_pickle(co_file)

In [10]:
df_co.shape

(600000, 131)

In [12]:
df_co.head()

,AccountsAccountCategory,AccountsAccountRefDay,AccountsAccountRefMonth,CompanyCategory,CompanyId,CompanyName,CompanyNameCountNum,CompanyNameCountX,CompanyNameLen,CompanyNameWordLen,...,namechanged,namechanged2,oa11,oac1,oac11,oac2,oseast1m,osnrth1m,pcd,ru11ind
2993,TOTAL EXEMPTION FULL,31,3,Private Limited Company,352482,ATLANTIC BAY HOTEL (WOOLACOMBE) LIMITED,0,0,39,5,...,0,0,E00054910,5,5A1,5A,411310.0,421493.0,HX59DG,A1
3969,DORMANT,30,11,Private Limited Company,3477508,SUPERIOR PROPERTY INVESTMENTS LTD,0,0,33,4,...,0,0,E00166435,2,2C1,2C,392203.0,173252.0,SN153HR,C1
6752,TOTAL EXEMPTION FULL,30,11,Private Limited Company,1509998,GLP OLD STREET LIMITED,0,0,22,4,...,0,0,E00024130,2,2B2,2B,529221.0,181386.0,W1W8DW,A1
15331,TOTAL EXEMPTION FULL,31,12,Private Limited Company,410035,BAMFORD BROOK APARTMENTS LTD,0,0,28,4,...,0,0,E00025340,4,4A1,4A,378356.0,407292.0,M263WQ,A1
18593,TOTAL EXEMPTION FULL,28,2,Private Limited Company,915950,CREATIVE DIGITAL PRINTING SOLUTIONS LIMITED,0,0,43,5,...,0,0,E00149681,5,5A1,5A,399770.0,311242.0,WS117GB,A1

In [14]:
df_co.columns

Index(['AccountsAccountCategory', 'AccountsAccountRefDay',
       'AccountsAccountRefMonth', 'CompanyCategory', 'CompanyId',
       'CompanyName', 'CompanyNameCountNum', 'CompanyNameCountX',
       'CompanyNameLen', 'CompanyNameWordLen',
       ...
       'namechanged', 'namechanged2', 'oa11', 'oac1', 'oac11', 'oac2',
       'oseast1m', 'osnrth1m', 'pcd', 'ru11ind'],
      dtype='object', length=131)

In [25]:
print(df_co.isnull().sum())

AccountsAccountCategory       0
AccountsAccountRefDay         4
AccountsAccountRefMonth       4
CompanyCategory               0
CompanyId                     0
                           ...
oac2                          0
oseast1m                      0
osnrth1m                      0
pcd                           0
ru11ind                    8708
Length: 131, dtype: int64

In [49]:
print("   Column                         No of unique values")
for n,c in enumerate(df_co.columns):
    print("{:3d}. {:<35}: {:>6}".format(n,c, len(df_co[c].unique())))
    print("Number of nans: ", df_co[c].isnull().sum())
    print("type of data: ", type(df_co[c][0]))
    print()

   Column                         No of unique values
  0. AccountsAccountCategory            :     16
Number of nans:  0
type of data:  <class 'str'>

  1. AccountsAccountRefDay              :     32
Number of nans:  4
type of data:  <class 'str'>

  2. AccountsAccountRefMonth            :     13
Number of nans:  4
type of data:  <class 'str'>

  3. CompanyCategory                    :      2
Number of nans:  0
type of data:  <class 'str'>

  4. CompanyId                          : 600000
Number of nans:  0
type of data:  <class 'numpy.int64'>

  5. CompanyName                        : 600000
Number of nans:  0
type of data:  <class 'str'>

  6. CompanyNameCountNum                :     16
Number of nans:  0
type of data:  <class 'numpy.int64'>

  7. CompanyNameCountX                  :      5
Number of nans:  0
type of data:  <class 'numpy.int64'>

  8. CompanyNameLen                     :     85
Number of nans:  0
type of data:  <class 'numpy.int64'>

  9. CompanyNameWordLen                 :     15
Number of nans:  0
type of data:  <class 'numpy.int64'>

 10. CompanyNumber                      : 600000
Number of nans:  0
type of data:  <class 'str'>

 11. CompanyStatus                      :      1
Number of nans:  0
type of data:  <class 'str'>

 12. Field1014                          : 119317
Number of nans:  240773
type of data:  <class 'numpy.float64'>

 13. Field1129                          :  62388
Number of nans:  438828
type of data:  <class 'numpy.float64'>

 14. Field1522                          :    749
Number of nans:  598507
type of data:  <class 'numpy.float64'>

 15. Field1631                          :   6450
Number of nans:  586750
type of data:  <class 'numpy.float64'>

 16. Field17                            :    942
Number of nans:  597242
type of data:  <class 'numpy.float64'>

 17. Field1865                          : 100905
Number of nans:  315623
type of data:  <class 'numpy.float64'>

 18. Field1871                          :  11514
Number of nans:  572500
type of data:  <class 'numpy.float64'>

 19. Field1885                          : 120244
Number of nans:  277499
type of data:  <class 'numpy.float64'>

 20. Field1977                          :   3417
Number of nans:  596327
type of data:  <class 'numpy.float64'>

 21. Field2267                          :     11
Number of nans:  484027
type of data:  <class 'str'>

 22. Field2298                          :   7455
Number of nans:  591731
type of data:  <class 'numpy.float64'>

 23. Field2304                          :    236
Number of nans:  599692
type of data:  <class 'numpy.float64'>

 24. Field2316                          :  49122
Number of nans:  487907
type of data:  <class 'numpy.float64'>

 25. Field2447                          :    384
Number of nans:  599275
type of data:  <class 'numpy.float64'>

 26. Field2483                          :    648
Number of nans:  599296
type of data:  <class 'numpy.float64'>

 27. Field2497                          :    778
Number of nans:  584722
type of data:  <class 'numpy.float64'>

 28. Field2502                          :  12356
Number of nans:  571591
type of data:  <class 'numpy.float64'>

 29. Field2506                          :    484
Number of nans:  599192
type of data:  <class 'numpy.float64'>

 30. Field2616                          :   4915
Number of nans:  594209
type of data:  <class 'numpy.float64'>

 31. Field2619                          :   4385
Number of nans:  595356
type of data:  <class 'numpy.float64'>

 32. Field2705                          : 126226
Number of nans:  296145
type of data:  <class 'numpy.float64'>

 33. Field2815                          :    182
Number of nans:  599798
type of data:  <class 'numpy.float64'>

 34. Field2816                          :   2113
Number of nans:  594929
type of data:  <class 'NoneType'>

 35. Field282                           :    219
Number of nans:  599350
type of data:  <class 'numpy.float64'>

 36. Field2823                          : 387940
Number of nans:  212061
type of data:  <class 'str'>

 37. Field306                           :  69944
Number of nans:  433302
type of data:  <class 'numpy.float64'>

 38. Field448                           :   2466
Number of nans:  597284
type of data:  <class 'numpy.float64'>

 39. Field465                           : 129754
Number of nans:  305548
type of data:  <class 'numpy.float64'>

 40. Field474                           :  12572
Number of nans:  585474
type of data:  <class 'numpy.float64'>

 41. Field477                           :    185
Number of nans:  599816
type of data:  <class 'numpy.float64'>

 42. Field487                           :   1451
Number of nans:  596889
type of data:  <class 'numpy.float64'>

 43. Field489                           : 136213
Number of nans:  305726
type of data:  <class 'numpy.float64'>

 44. Field541                           :  69784
Number of nans:  465783
type of data:  <class 'numpy.float64'>

 45. Field69                            :   4766
Number of nans:  593894
type of data:  <class 'numpy.float64'>

 46. Field70                            :   3017
Number of nans:  595710
type of data:  <class 'numpy.float64'>

 47. Field972                           :      2
Number of nans:  598522
type of data:  <class 'NoneType'>

 48. FilingId                           : 391321
Number of nans:  208680
type of data:  <class 'numpy.float64'>

 49. Filled                             :      1
Number of nans:  600000
type of data:  <class 'NoneType'>

 50. LimitedPartnershipsNumGenPartners  :      1
Number of nans:  0
type of data:  <class 'str'>

 51. LimitedPartnershipsNumLimPartners  :      1
Number of nans:  0
type of data:  <class 'str'>

 52. MortgagesNumMortCharges            :    246
Number of nans:  0
type of data:  <class 'numpy.int64'>

 53. MortgagesNumMortOutstanding        :    204
Number of nans:  0
type of data:  <class 'numpy.int64'>

 54. MortgagesNumMortPartSatisfied      :      6
Number of nans:  0
type of data:  <class 'numpy.int64'>

 55. MortgagesNumMortSatisfied          :    151
Number of nans:  0
type of data:  <class 'numpy.int64'>

 56. PreviousName_1CompanyName          :  64823
Number of nans:  535116
type of data:  <class 'NoneType'>

 57. RegAddressAddressLine1             : 339727
Number of nans:  8
type of data:  <class 'str'>

 58. RegAddressAddressLine2             :  88067
Number of nans:  207988
type of data:  <class 'NoneType'>

 59. RegAddressCareOf                   :   7372
Number of nans:  588077
type of data:  <class 'NoneType'>

 60. RegAddressCountry                  :      6
Number of nans:  221793
type of data:  <class 'NoneType'>

 61. RegAddressCounty                   :   2498
Number of nans:  352392
type of data:  <class 'str'>

 62. RegAddressPOBox                    :   1116
Number of nans:  598366
type of data:  <class 'NoneType'>

 63. RegAddressPostCode                 : 264537
Number of nans:  0
type of data:  <class 'str'>

 64. RegAddressPostTown                 :  12658
Number of nans:  6751
type of data:  <class 'str'>

 65. SIC1                               :     91
Number of nans:  155
type of data:  <class 'numpy.float64'>

 66. SIC2                               :     11
Number of nans:  155
type of data:  <class 'numpy.float64'>

 67. SIC3                               :     64
Number of nans:  155
type of data:  <class 'numpy.float64'>

 68. Status20190701                     :      1
Number of nans:  0
type of data:  <class 'str'>

 69. country                            :      4
Number of nans:  0
type of data:  <class 'str'>

 70. cty                                :     30
Number of nans:  0
type of data:  <class 'str'>

 71. dAccountsLastMadeUpDate            :    993
Number of nans:  151174
type of data:  <class 'numpy.float64'>

 72. dAccountsNextDueDate               :   1298
Number of nans:  4
type of data:  <class 'numpy.float64'>

 73. dConfStmtLastMadeUpDate            :    729
Number of nans:  105719
type of data:  <class 'numpy.float64'>

 74. dConfStmtNextDueDate               :   1066
Number of nans:  182
type of data:  <class 'numpy.float64'>

 75. dContextInstant                    :    875
Number of nans:  208680
type of data:  <class 'numpy.float64'>

 76. dIncorporationDate                 :  17836
Number of nans:  0
type of data:  <class 'numpy.float64'>

 77. dPreviousName_1CONDATE             :   5235
Number of nans:  535116
type of data:  <class 'numpy.float64'>

 78. dPreviousName_2CONDATE             :   4565
Number of nans:  588434
type of data:  <class 'numpy.float64'>

 79. dReturnsLastMadeUpDate             :   1201
Number of nans:  272906
type of data:  <class 'numpy.float64'>

 80. dReturnsNextDueDate                :   2020
Number of nans:  89
type of data:  <class 'numpy.float64'>

 81. eAccountsAccountCategory           :     16
Number of nans:  0
type of data:  <class 'numpy.int32'>

 82. eCompanyCategory                   :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 83. hasF1014                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 84. hasF1129                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 85. hasF1522                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 86. hasF1631                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 87. hasF17                             :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 88. hasF1865                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 89. hasF1871                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 90. hasF1885                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 91. hasF1977                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 92. hasF2298                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 93. hasF2304                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 94. hasF2316                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 95. hasF2447                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 96. hasF2483                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 97. hasF2497                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 98. hasF2502                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 99. hasF2506                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

100. hasF2616                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

101. hasF2619                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

102. hasF2705                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

103. hasF2815                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

104. hasF282                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

105. hasF306                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

106. hasF448                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

107. hasF465                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

108. hasF474                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

109. hasF487                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

110. hasF489                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

111. hasF541                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

112. hasF69                             :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

113. hasF70                             :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

114. hasGNotice                         :      2
Number of nans:  0
type of data:  <class 'numpy.bool_'>

115. imd                                :  32477
Number of nans:  0
type of data:  <class 'numpy.float64'>

116. imdu                               :  40419
Number of nans:  0
type of data:  <class 'numpy.float64'>

117. isfailed                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

118. lat                                : 248771
Number of nans:  0
type of data:  <class 'numpy.float64'>

119. long                               : 254532
Number of nans:  0
type of data:  <class 'numpy.float64'>

120. nSIC                               :    855
Number of nans:  155
type of data:  <class 'numpy.float64'>

121. namechanged                        :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

122. namechanged2                       :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

123. oa11                               : 134726
Number of nans:  0
type of data:  <class 'str'>

124. oac1                               :      8
Number of nans:  0
type of data:  <class 'str'>

125. oac11                              :     76
Number of nans:  0
type of data:  <class 'str'>

126. oac2                               :     26
Number of nans:  0
type of data:  <class 'str'>

127. oseast1m                           : 173219
Number of nans:  0
type of data:  <class 'numpy.float64'>

128. osnrth1m                           : 178402
Number of nans:  0
type of data:  <class 'numpy.float64'>

129. pcd                                : 264473
Number of nans:  0
type of data:  <class 'str'>

130. ru11ind                            :     26
Number of nans:  8708
type of data:  <class 'str'>

To do list for dealing with features:

Ideas:

    - Drop company Id
    - Drop Company Number (unless it's easy to change)
    
To investigate:


    - CompanyName
    - All the FieldXXX which have more than 500 unique values
    - PreviousName_1CompanyName       
    - RegAddressAddressLine1          
    - RegAddressAddressLine2         
    - RegAddressCareOf                 
    - RegAddressCounty                
    - RegAddressPOBox                 
    - RegAddressPostCode               
    - RegAddressPostTown                
    - imd (OK)                                
    - imdu (OK)
    - lat (OK)                               
    - long (OK)
    - nSIC (OK)                           
    - oa11: need more info on what it represents
    - oseast1m  (OK)              
    - osnrth1m   (OK)
    - pcd: need more info on what it represents

Some other features are not numerical but have a small number of unique values and can therefore be encoded using standard techniques.

In [62]:
df_co["pcd"]

2993        HX59DG
3969       SN153HR
6752        W1W8DW
15331       M263WQ
18593      WS117GB
            ...
3195120    RG291BB
929546     HP112BE
2794558     W1T1DG
1475053     HA90LB
3145186    DN213LG
Name: pcd, Length: 600000, dtype: object