This is the part 1 of the preprocessing pipeline
However, an additional cleaning (change None/"space" into Nan) should be carried beforehand

 --Written by Xingyue Huang 5th.Mar.2021

In [1]:
import pandas as pd
import numpy as np
import os
import keras

In [2]:
# Read the sample file
co_file = "Co_600K_Jul2019_6M.pkl"
df_co = pd.read_pickle(co_file)

In [3]:
print("   Column                         No of unique values")
for n,c in enumerate(df_co.columns):
    print("{:3d}. {:<35}: {:>6}".format(n,c, len(df_co[c].unique())))
    print("Number of nans: ", df_co[c].isnull().sum())
    print("type of data: ", type(df_co[c][0]))
    print()

   Column                         No of unique values
  0. AccountsAccountCategory            :     16
Number of nans:  0
type of data:  <class 'str'>

  1. AccountsAccountRefDay              :     32
Number of nans:  4
type of data:  <class 'str'>

  2. AccountsAccountRefMonth            :     13
Number of nans:  4
type of data:  <class 'str'>

  3. CompanyCategory                    :      2
Number of nans:  0
type of data:  <class 'str'>

  4. CompanyId                          : 600000
Number of nans:  0
type of data:  <class 'numpy.int64'>

  5. CompanyName                        : 600000
Number of nans:  0
type of data:  <class 'str'>

  6. CompanyNameCountNum                :     16
Number of nans:  0
type of data:  <class 'numpy.int64'>

  7. CompanyNameCountX                  :      5
Number of nans:  0
type of data:  <class 'numpy.int64'>

  8. CompanyNameLen                     :     85
Number of nans:  0
type of data:  <class 'numpy.int64'>

  9. CompanyNameWordLen                 :     15
Number of nans:  0
type of data:  <class 'numpy.int64'>

 10. CompanyNumber                      : 600000
Number of nans:  0
type of data:  <class 'str'>

 11. CompanyStatus                      :      1
Number of nans:  0
type of data:  <class 'str'>

 12. Field1014                          : 119317
Number of nans:  240773
type of data:  <class 'numpy.float64'>

 13. Field1129                          :  62388
Number of nans:  438828
type of data:  <class 'numpy.float64'>

 14. Field1522                          :    749
Number of nans:  598507
type of data:  <class 'numpy.float64'>

 15. Field1631                          :   6450
Number of nans:  586750
type of data:  <class 'numpy.float64'>

 16. Field17                            :    942
Number of nans:  597242
type of data:  <class 'numpy.float64'>

 17. Field1865                          : 100905
Number of nans:  315623
type of data:  <class 'numpy.float64'>

 18. Field1871                          :  11514
Number of nans:  572500
type of data:  <class 'numpy.float64'>

 19. Field1885                          : 120244
Number of nans:  277499
type of data:  <class 'numpy.float64'>

 20. Field1977                          :   3417
Number of nans:  596327
type of data:  <class 'numpy.float64'>

 21. Field2267                          :     11
Number of nans:  484027
type of data:  <class 'str'>

 22. Field2298                          :   7455
Number of nans:  591731
type of data:  <class 'numpy.float64'>

 23. Field2304                          :    236
Number of nans:  599692
type of data:  <class 'numpy.float64'>

 24. Field2316                          :  49122
Number of nans:  487907
type of data:  <class 'numpy.float64'>

 25. Field2447                          :    384
Number of nans:  599275
type of data:  <class 'numpy.float64'>

 26. Field2483                          :    648
Number of nans:  599296
type of data:  <class 'numpy.float64'>

 27. Field2497                          :    778
Number of nans:  584722
type of data:  <class 'numpy.float64'>

 28. Field2502                          :  12356
Number of nans:  571591
type of data:  <class 'numpy.float64'>

 29. Field2506                          :    484
Number of nans:  599192
type of data:  <class 'numpy.float64'>

 30. Field2616                          :   4915
Number of nans:  594209
type of data:  <class 'numpy.float64'>

 31. Field2619                          :   4385
Number of nans:  595356
type of data:  <class 'numpy.float64'>

 32. Field2705                          : 126226
Number of nans:  296145
type of data:  <class 'numpy.float64'>

 33. Field2815                          :    182
Number of nans:  599798
type of data:  <class 'numpy.float64'>

 34. Field2816                          :   2113
Number of nans:  594929
type of data:  <class 'NoneType'>

 35. Field282                           :    219
Number of nans:  599350
type of data:  <class 'numpy.float64'>

 36. Field2823                          : 387940
Number of nans:  212061
type of data:  <class 'str'>

 37. Field306                           :  69944
Number of nans:  433302
type of data:  <class 'numpy.float64'>

 38. Field448                           :   2466
Number of nans:  597284
type of data:  <class 'numpy.float64'>

 39. Field465                           : 129754
Number of nans:  305548
type of data:  <class 'numpy.float64'>

 40. Field474                           :  12572
Number of nans:  585474
type of data:  <class 'numpy.float64'>

 41. Field477                           :    185
Number of nans:  599816
type of data:  <class 'numpy.float64'>

 42. Field487                           :   1451
Number of nans:  596889
type of data:  <class 'numpy.float64'>

 43. Field489                           : 136213
Number of nans:  305726
type of data:  <class 'numpy.float64'>

 44. Field541                           :  69784
Number of nans:  465783
type of data:  <class 'numpy.float64'>

 45. Field69                            :   4766
Number of nans:  593894
type of data:  <class 'numpy.float64'>

 46. Field70                            :   3017
Number of nans:  595710
type of data:  <class 'numpy.float64'>

 47. Field972                           :      2
Number of nans:  598522
type of data:  <class 'NoneType'>

 48. FilingId                           : 391321
Number of nans:  208680
type of data:  <class 'numpy.float64'>

 49. Filled                             :      1
Number of nans:  600000
type of data:  <class 'NoneType'>

 50. LimitedPartnershipsNumGenPartners  :      1
Number of nans:  0
type of data:  <class 'str'>

 51. LimitedPartnershipsNumLimPartners  :      1
Number of nans:  0
type of data:  <class 'str'>

 52. MortgagesNumMortCharges            :    246
Number of nans:  0
type of data:  <class 'numpy.int64'>

 53. MortgagesNumMortOutstanding        :    204
Number of nans:  0
type of data:  <class 'numpy.int64'>

 54. MortgagesNumMortPartSatisfied      :      6
Number of nans:  0
type of data:  <class 'numpy.int64'>

 55. MortgagesNumMortSatisfied          :    151
Number of nans:  0
type of data:  <class 'numpy.int64'>

 56. PreviousName_1CompanyName          :  64823
Number of nans:  535116
type of data:  <class 'NoneType'>

 57. RegAddressAddressLine1             : 339727
Number of nans:  8
type of data:  <class 'str'>

 58. RegAddressAddressLine2             :  88067
Number of nans:  207988
type of data:  <class 'NoneType'>

 59. RegAddressCareOf                   :   7372
Number of nans:  588077
type of data:  <class 'NoneType'>

 60. RegAddressCountry                  :      6
Number of nans:  221793
type of data:  <class 'NoneType'>

 61. RegAddressCounty                   :   2498
Number of nans:  352392
type of data:  <class 'str'>

 62. RegAddressPOBox                    :   1116
Number of nans:  598366
type of data:  <class 'NoneType'>

 63. RegAddressPostCode                 : 264537
Number of nans:  0
type of data:  <class 'str'>

 64. RegAddressPostTown                 :  12658
Number of nans:  6751
type of data:  <class 'str'>

 65. SIC1                               :     91
Number of nans:  155
type of data:  <class 'numpy.float64'>

 66. SIC2                               :     11
Number of nans:  155
type of data:  <class 'numpy.float64'>

 67. SIC3                               :     64
Number of nans:  155
type of data:  <class 'numpy.float64'>

 68. Status20190701                     :      1
Number of nans:  0
type of data:  <class 'str'>

 69. country                            :      4
Number of nans:  0
type of data:  <class 'str'>

 70. cty                                :     30
Number of nans:  0
type of data:  <class 'str'>

 71. dAccountsLastMadeUpDate            :    993
Number of nans:  151174
type of data:  <class 'numpy.float64'>

 72. dAccountsNextDueDate               :   1298
Number of nans:  4
type of data:  <class 'numpy.float64'>

 73. dConfStmtLastMadeUpDate            :    729
Number of nans:  105719
type of data:  <class 'numpy.float64'>

 74. dConfStmtNextDueDate               :   1066
Number of nans:  182
type of data:  <class 'numpy.float64'>

 75. dContextInstant                    :    875
Number of nans:  208680
type of data:  <class 'numpy.float64'>

 76. dIncorporationDate                 :  17836
Number of nans:  0
type of data:  <class 'numpy.float64'>

 77. dPreviousName_1CONDATE             :   5235
Number of nans:  535116
type of data:  <class 'numpy.float64'>

 78. dPreviousName_2CONDATE             :   4565
Number of nans:  588434
type of data:  <class 'numpy.float64'>

 79. dReturnsLastMadeUpDate             :   1201
Number of nans:  272906
type of data:  <class 'numpy.float64'>

 80. dReturnsNextDueDate                :   2020
Number of nans:  89
type of data:  <class 'numpy.float64'>

 81. eAccountsAccountCategory           :     16

Number of nans:  0
type of data:  <class 'numpy.int32'>

 82. eCompanyCategory                   :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 83. hasF1014                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 84. hasF1129                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 85. hasF1522                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 86. hasF1631                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 87. hasF17                             :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 88. hasF1865                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 89. hasF1871                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 90. hasF1885                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 91. hasF1977                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 92. hasF2298                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 93. hasF2304                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 94. hasF2316                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 95. hasF2447                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 96. hasF2483                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 97. hasF2497                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 98. hasF2502                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

 99. hasF2506                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

100. hasF2616                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

101. hasF2619                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

102. hasF2705                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

103. hasF2815                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

104. hasF282                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

105. hasF306                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

106. hasF448                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

107. hasF465                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

108. hasF474                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

109. hasF487                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

110. hasF489                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

111. hasF541                            :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

112. hasF69                             :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

113. hasF70                             :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

114. hasGNotice                         :      2
Number of nans:  0
type of data:  <class 'numpy.bool_'>

115. imd                                :  32477
Number of nans:  0
type of data:  <class 'numpy.float64'>

116. imdu                               :  40419
Number of nans:  0
type of data:  <class 'numpy.float64'>

117. isfailed                           :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

118. lat                                : 248771
Number of nans:  0
type of data:  <class 'numpy.float64'>

119. long                               : 254532
Number of nans:  0
type of data:  <class 'numpy.float64'>

120. nSIC                               :    855
Number of nans:  155
type of data:  <class 'numpy.float64'>

121. namechanged                        :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

122. namechanged2                       :      2
Number of nans:  0
type of data:  <class 'numpy.int32'>

123. oa11                               : 134726
Number of nans:  0
type of data:  <class 'str'>

124. oac1                               :      8
Number of nans:  0
type of data:  <class 'str'>

125. oac11                              :     76
Number of nans:  0
type of data:  <class 'str'>

126. oac2                               :     26
Number of nans:  0
type of data:  <class 'str'>

127. oseast1m                           : 173219
Number of nans:  0
type of data:  <class 'numpy.float64'>

128. osnrth1m                           : 178402
Number of nans:  0
type of data:  <class 'numpy.float64'>

129. pcd                                : 264473
Number of nans:  0
type of data:  <class 'str'>

130. ru11ind                            :     26
Number of nans:  8708
type of data:  <class 'str'>

We have the following changes:
1. Remove the features with No. unique values == 600000 or 1, and drop not useful feature 
    600000: CompanyID,CompanyName,CompanyNumber
    1: CompanyStatus,Filled, LimitedPartershipsNumGenParterners, LimitedPartnershipsNumLimPartners, Status20190701
    not useful: imd, as we are using imdu instead of imd
    
    Note: This include CompanyName, which might be useful 
2. Convert Date into its duration:
    - dAccountsTimeGap = dAccountsNextDueDate - dAccountsLastMadeUpDate
    - dConfStmtTimeGap = dConfStmtNextDueDate - dConfStmtLastMadeUpDate 
    - dReturnsTimeGap = dReturnsNextDueDate - dReturnsLastMadeUpDate 
    #Not Sure about dPreviousName_1CONDATE and dIncorporationDate
3. For postcode-related field, delete pcd (postcode), and add:
    - OtherCompInPcd: how many other company in the postcode
    
#Keep the accounting data and the "hasF" data as binary indicator of estimation.
4. Detect the exponentially distributed feature: and take log (base 10)
    - All Accounting data with Field__ 
    - FillingID
5. Detect Outlier: 
    Upper = Q3 + 1.5*IQR
    Lower = Q1 - 1.5*IQR
    
Useful Feature lists:
    AccountsAccountCategory & CompanyNumber?
    All Mortgages fields:
        e.g. MortgagesNumMortCharges
    RegAddressCountry & RegAddressCounty
    SIC1,SIC2,SIC3
    dIncorporationDate
    eAccounts and eCompanyCategory
    hasGNotice 
    ru11ind

In [4]:
df_co["oseast1m"].unique()

array([411310., 392203., 529221., ..., 263278., 399432., 322950.])

In [5]:
def findRange(df_co):
    print("The range of the data")
    for n,c in enumerate(df_co.select_dtypes(include=['int32','int64','float64']).columns):
        print("{:3d}. {:<35}: {:>6}".format(n,c, (df_co[c].max() - df_co[c].dropna().min())))
        print()

In [6]:
findRange(df_co)

The range of the data
  0. CompanyId                          : 5925439

  1. CompanyNameCountNum                :     32

  2. CompanyNameCountX                  :      5

  3. CompanyNameLen                     :    109

  4. CompanyNameWordLen                 :     15

  5. Field1014                          : 329999890000.0

  6. Field1129                          : 263547732.0

  7. Field1522                          : 38121000.0

  8. Field1631                          : 423582131.0

  9. Field17                            : 2510357.0

 10. Field1865                          : 329999890000.0

 11. Field1871                          : 1000000000.0

 12. Field1885                          : 898167989.0

 13. Field1977                          : 18282768.0

 14. Field2298                          : 157092140.0

 15. Field2304                          : 15331834.0

 16. Field2316                          : 135881241.0

 17. Field2447                          : 55806997.0

 18. Field2483                          : 17407559.0

 19. Field2497                          : 62550010000.0

 20. Field2502                          : 1000000000.0

 21. Field2506                          : 55865997.0

 22. Field2616                          : 123644716.0

 23. Field2619                          : 156037187.0

 24. Field2705                          : 903984239.0

 25. Field2815                          : 55583931.0

 26. Field282                           : 5298545.0

 27. Field306                           : 1972785150.0

 28. Field448                           : 482854812.0

 29. Field465                           : 204974852.0

 30. Field474                           : 240011582.0

 31. Field477                           : 3002907.0

 32. Field487                           : 480176410.0

 33. Field489                           : 901254349.0

 34. Field541                           : 385077939.0

 35. Field69                            : 3949009.0

 36. Field70                            : 2115333.0

 37. FilingId                           : 12629891.0

 38. MortgagesNumMortCharges            :   2095

 39. MortgagesNumMortOutstanding        :    659

 40. MortgagesNumMortPartSatisfied      :      7

 41. MortgagesNumMortSatisfied          :   2091

 42. SIC1                               :   99.0

 43. SIC2                               :    9.0

 44. SIC3                               :   99.0

 45. dAccountsLastMadeUpDate            : 46.24931506849316

 46. dAccountsNextDueDate               : 97.66849315068498

 47. dConfStmtLastMadeUpDate            : 2.9713077326148323

 48. dConfStmtNextDueDate               : 4.505576764727948

 49. dContextInstant                    :    9.0

 50. dIncorporationDate                 : 159.3701923796691

 51. dPreviousName_1CONDATE             : 19.989041095890343

 52. dPreviousName_2CONDATE             : 19.986301369862986

 53. dReturnsLastMadeUpDate             : 68.12054794520554

 54. dReturnsNextDueDate                : 30.538169024627678

 55. eAccountsAccountCategory           :     15

 56. eCompanyCategory                   :      1

 57. hasF1014                           :      1

 58. hasF1129                           :      1

 59. hasF1522                           :      1

 60. hasF1631                           :      1

 61. hasF17                             :      1

 62. hasF1865                           :      1

 63. hasF1871                           :      1

 64. hasF1885                           :      1

 65. hasF1977                           :      1

 66. hasF2298                           :      1

 67. hasF2304                           :      1

 68. hasF2316                           :      1

 69. hasF2447                           :      1

 70. hasF2483                           :      1

 71. hasF2497                           :      1

 72. hasF2502                           :      1

 73. hasF2506                           :      1

 74. hasF2616                           :      1

 75. hasF2619                           :      1

 76. hasF2705                           :      1

 77. hasF2815                           :      1

 78. hasF282                            :      1

 79. hasF306                            :      1

 80. hasF448                            :      1

 81. hasF465                            :      1

 82. hasF474                            :      1

 83. hasF487                            :      1

 84. hasF489                            :      1

 85. hasF541                            :      1

 86. hasF69                             :      1

 87. hasF70                             :      1

 88. imd                                : 32843.0

 89. imdu                               : 31817.501874995185

 90. isfailed                           :      1

 91. lat                                : 10.847075000000004

 92. long                               : 9.883441

 93. nSIC                               : 99876.0

 94. namechanged                        :      1

 95. namechanged2                       :      1

 96. oseast1m                           : 590477.0

 97. osnrth1m                           : 1198754.0

Try removing problematic features for now

In [7]:
# 1. Remove the features with No. unique values == 600000 or 1 
zero_info_features = ["CompanyId", "CompanyNumber","CompanyName"]
# Note here that the CompanyName is already included
only_one_value_features = ["CompanyStatus","Filled", "LimitedPartnershipsNumGenPartners",\
                           "LimitedPartnershipsNumLimPartners","Status20190701"]
not_useful_features = ["imd"]
df_curated = df_co.drop(zero_info_features + only_one_value_features + not_useful_features, axis=1)

In [8]:
# 2. Convert Date into its duration
drop_date_features = ["dAccountsNextDueDate","dConfStmtNextDueDate","dReturnsNextDueDate","dAccountsLastMadeUpDate",\
                      "dConfStmtLastMadeUpDate","dReturnsLastMadeUpDate"]
df_curated["dAccountsTimeGap"] = df_curated["dAccountsNextDueDate"] - df_curated["dAccountsLastMadeUpDate"]
df_curated["dConfStmtTimeGap"] = df_curated["dConfStmtNextDueDate"] - df_curated["dConfStmtLastMadeUpDate"] 
df_curated["dReturnsTimeGap"] = df_curated["dReturnsNextDueDate"] - df_curated["dReturnsLastMadeUpDate"] 
df_curated2 = df_curated.drop(drop_date_features,axis = 1)

In [9]:
# 3. Delete pcd (postcode), and add OtherCompInPcd: how many other company in the postcode
def NumOtherCompPcd(row): return pcdDict[row["pcd"]]

# Generate the pcd dictionary for fast checking
pcdDict = dict()
for i in df_curated2["pcd"]:
    pcdDict[i] = pcdDict.get(i, 0) + 1

df_curated2["OtherCompInPcd"] = df_curated2.apply (lambda row: NumOtherCompPcd(row),axis = 1)
df_curated3 = df_curated2.drop("pcd",axis = 1)

In [10]:
# 4. Filter out all the features with Field___ and Filing that might have exponential distribution
exponential_features = [x for x in df_curated3.columns if x[0] == 'F']
for feature in exponential_features:
    # This part works by approximating the log value
    # ! All the None/'space' needs to be changed to Nan before in order to remove try/except 
    try:
        df_curated3[feature]=np.log10(df_curated3[feature]+1)
    except:
        pass

In [11]:
# 5. Delete the outliers for each numerics value
for n,c in enumerate(df_curated3.select_dtypes(include=['int32','int64','float64']).columns):
    q_low = df_curated3[c].quantile(0.01)
    q_hi  = df_curated3[c].quantile(0.99)
    df_filtered = df_curated3[(df_curated3[c] < q_hi) & (df_curated3[c] > q_low)]

In [12]:
findRange(df_filtered)

The range of the data
  0. CompanyNameCountNum                :     32

  1. CompanyNameCountX                  :      5

  2. CompanyNameLen                     :     98

  3. CompanyNameWordLen                 :     15

  4. Field1014                          : 11.518513795114352

  5. Field1129                          : 8.420859284827868

  6. Field1522                          : 7.581164296034197

  7. Field1631                          : 8.626937631941892

  8. Field17                            : 6.399735660261015

  9. Field1865                          : 11.518513795114352

 10. Field1871                          : 9.000000000434294

 11. Field1885                          : 8.953357573089102

 12. Field1977                          : 7.262041972051498

 13. Field2298                          : 8.196154458714654

 14. Field2304                          : 7.185594136764475

 15. Field2316                          : 8.133159507812955

 16. Field2447                          : 7.7466886613430335

 17. Field2483                          : 7.240737900766992

 18. Field2497                          : 10.796227383467949

 19. Field2502                          : 9.000000000434294

 20. Field2506                          : 7.747147561484235

 21. Field2616                          : 8.092175564880385

 22. Field2619                          : 8.19322811513958

 23. Field2705                          : 8.956160859080786

 24. Field2815                          : 7.744949265462262

 25. Field282                           : 6.724156709070534

 26. Field306                           : 9.295079790363259

 27. Field448                           : 8.683816564723223

 28. Field465                           : 8.311700583625345

 29. Field474                           : 8.380232201343262

 30. Field477                           : 4.03557967313877

 31. Field487                           : 8.681400821226703

 32. Field489                           : 8.954847373901064

 33. Field541                           : 8.585548639862186

 34. Field69                            : 6.596488233493273

 35. Field70                            : 6.325378949916591

 36. FilingId                           : 3.3125242144056033

 37. MortgagesNumMortCharges            :   2095

 38. MortgagesNumMortOutstanding        :    659

 39. MortgagesNumMortPartSatisfied      :      7

 40. MortgagesNumMortSatisfied          :   2091

 41. SIC1                               :   99.0

 42. SIC2                               :    9.0

 43. SIC3                               :   99.0

 44. dContextInstant                    : 6.5830975372407465

 45. dIncorporationDate                 : 159.3701923796691

 46. dPreviousName_1CONDATE             : 19.980821917808044

 47. dPreviousName_2CONDATE             : 19.986301369862986

 48. eAccountsAccountCategory           :     15

 49. eCompanyCategory                   :      1

 50. hasF1014                           :      1

 51. hasF1129                           :      1

 52. hasF1522                           :      1

 53. hasF1631                           :      1

 54. hasF17                             :      1

 55. hasF1865                           :      1

 56. hasF1871                           :      1

 57. hasF1885                           :      1

 58. hasF1977                           :      1

 59. hasF2298                           :      1

 60. hasF2304                           :      1

 61. hasF2316                           :      1

 62. hasF2447                           :      1

 63. hasF2483                           :      1

 64. hasF2497                           :      1

 65. hasF2502                           :      1

 66. hasF2506                           :      1

 67. hasF2616                           :      1

 68. hasF2619                           :      1

 69. hasF2705                           :      1

 70. hasF2815                           :      1

 71. hasF282                            :      1

 72. hasF306                            :      1

 73. hasF448                            :      1

 74. hasF465                            :      1

 75. hasF474                            :      1

 76. hasF487                            :      1

 77. hasF489                            :      1

 78. hasF541                            :      1

 79. hasF69                             :      1

 80. hasF70                             :      1

 81. imdu                               : 31815.726104687066

 82. isfailed                           :      1

 83. lat                                : 10.711316999999994

 84. long                               : 9.85224

 85. nSIC                               : 99876.0

 86. namechanged                        :      1

 87. namechanged2                       :      1

 88. oseast1m                           : 580065.0

 89. osnrth1m                           : 1187476.0

 90. dAccountsTimeGap                   : 2.692918631633802

 91. dConfStmtTimeGap                   : 1.6575342465753238

 92. dReturnsTimeGap                    : 2.2639793397709127

 93. OtherCompInPcd                     :   3429

Remark: This process needs to be done before the preprocessing pipeline is finished