## Oxford CS Adversarial Attack Project 2020-21

Demo notebook for the company data flat file
File "Co_600K_Jul2019_6M.pkl" is a sample of data for 600K UK companies
It contains data from Companies House, Office for National Statistics, and The London Gazette. All fields except for "isfailed" are as sampled on the 1st July 2019

In [1]:
import pandas as pd
import numpy as np

# Read the sample file
co_file = "Co_600K_Jul2019_6M.pkl"
df_co = pd.read_pickle(co_file)

600,000 companies by 131 features pandas dataframe

In [2]:
df_co.shape

(600000, 131)

In [3]:
df_co.head(5).transpose()

,2993,3969,6752,15331,18593
AccountsAccountCategory,TOTAL EXEMPTION FULL,DORMANT,TOTAL EXEMPTION FULL,TOTAL EXEMPTION FULL,TOTAL EXEMPTION FULL
AccountsAccountRefDay,31,30,30,31,28
AccountsAccountRefMonth,3,11,11,12,2
CompanyCategory,Private Limited Company,Private Limited Company,Private Limited Company,Private Limited Company,Private Limited Company
CompanyId,352482,3477508,1509998,410035,915950
CompanyName,ATLANTIC BAY HOTEL (WOOLACOMBE) LIMITED,SUPERIOR PROPERTY INVESTMENTS LTD,GLP OLD STREET LIMITED,BAMFORD BROOK APARTMENTS LTD,CREATIVE DIGITAL PRINTING SOLUTIONS LIMITED
CompanyNameCountNum,0,0,0,0,0
CompanyNameCountX,0,0,0,0,0
CompanyNameLen,39,33,22,28,43
CompanyNameWordLen,5,4,4,4,5
CompanyNumber,10496720,10500407,10502424,10520325,10523645
CompanyStatus,Active,Active,Active,Active,Active
Field1014,NaN,100,NaN,294274,56557
Field1129,NaN,NaN,NaN,NaN,21582
Field1522,NaN,NaN,NaN,NaN,NaN
Field1631,NaN,NaN,NaN,NaN,NaN
Field17,NaN,NaN,NaN,NaN,NaN
Field1865,NaN,100,NaN,294272,56557
Field1871,NaN,NaN,NaN,NaN,NaN
Field1885,NaN,NaN,NaN,937073,37500
Field1977,NaN,NaN,NaN,NaN,NaN
Field2267,None,None,None,None,None
Field2298,NaN,NaN,NaN,NaN,NaN
Field2304,NaN,NaN,NaN,NaN,NaN
Field2316,NaN,NaN,NaN,500000,13290
Field2447,NaN,NaN,NaN,NaN,NaN
Field2483,NaN,NaN,NaN,NaN,NaN
Field2497,NaN,NaN,NaN,NaN,NaN
Field2502,NaN,NaN,NaN,NaN,NaN
Field2506,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
hasF2619,0,0,0,0,0
hasF2705,0,0,0,1,1
hasF2815,0,0,0,0,0
hasF282,0,0,0,0,0
hasF306,0,0,0,1,1
hasF448,0,0,0,0,0
hasF465,0,0,0,1,1
hasF474,0,0,0,0,0
hasF487,0,0,0,0,0
hasF489,0,0,0,1,1
hasF541,0,0,0,1,1
hasF69,0,0,0,0,0
hasF70,0,0,0,0,0
hasGNotice,False,False,False,False,False
imd,11766,8305,12463,3444,27884
imdu,11398.6,8045.68,12073.9,3336.46,27013.3
isfailed,1,1,1,1,1
lat,53.6898,51.4582,51.5166,53.5618,52.6989
long,-1.83021,-2.11361,-0.139064,-2.32823,-2.00484
nSIC,68100,68100,56101,41100,18129
namechanged,0,0,0,0,0
namechanged2,0,0,0,0,0
oa11,E00054910,E00166435,E00024130,E00025340,E00149681
oac1,5,2,2,4,5
oac11,5A1,2C1,2B2,4A1,5A1
oac2,5A,2C,2B,4A,5A
oseast1m,411310,392203,529221,378356,399770
osnrth1m,421493,173252,181386,407292,311242
pcd,HX59DG,SN153HR,W1W8DW,M263WQ,WS117GB
ru11ind,A1,C1,A1,A1,A1

### Features overview

All features all observable at classification time (T0) except for <b>isfailed</b> which is not revealed until T1. The target model is to predict <b>isfailed</b> given all T0 features.

Features <b>FieldXXXX</b> are values of certain accounting fields reported by company. Most companies do not report any accounting data. For each feature of this type, <b>hasFXXXX</b> contains the missing indicator.

Features <b>imd</b>, <b>imdu</b>, <b>lat</b>, <b>long</b>, <b>oa11</b>, <b>oac1</b>, <b>oac11</b>, <b>oac2</b>, <b>oseast1m</b>, <b>osnrth1m</b>, and <b>ru11ind</b> are all derived from the registration postcode <b>pcd</b>

In [4]:
print("   Column                         No of unique values")
for n,c in enumerate(df_co.columns):
    print("{:3d}. {:<35}: {:>6}".format(n,c, len(df_co[c].unique())))

   Column                         No of unique values
  0. AccountsAccountCategory            :     16
  1. AccountsAccountRefDay              :     32
  2. AccountsAccountRefMonth            :     13
  3. CompanyCategory                    :      2
  4. CompanyId                          : 600000
  5. CompanyName                        : 600000
  6. CompanyNameCountNum                :     16
  7. CompanyNameCountX                  :      5
  8. CompanyNameLen                     :     85
  9. CompanyNameWordLen                 :     15
 10. CompanyNumber                      : 600000
 11. CompanyStatus                      :      1
 12. Field1014                          : 119317
 13. Field1129                          :  62388
 14. Field1522                          :    749
 15. Field1631                          :   6450
 16. Field17                            :    942
 17. Field1865                          : 100905
 18. Field1871                          :  11514
 19. Field1885                          : 120244
 20. Field1977                          :   3417
 21. Field2267                          :     11
 22. Field2298                          :   7455
 23. Field2304                          :    236
 24. Field2316                          :  49122
 25. Field2447                          :    384
 26. Field2483                          :    648
 27. Field2497                          :    778
 28. Field2502                          :  12356
 29. Field2506                          :    484
 30. Field2616                          :   4915
 31. Field2619                          :   4385
 32. Field2705                          : 126226
 33. Field2815                          :    182
 34. Field2816                          :   2113
 35. Field282                           :    219
 36. Field2823                          : 387940
 37. Field306                           :  69944
 38. Field448                           :   2466
 39. Field465                           : 129754
 40. Field474                           :  12572
 41. Field477                           :    185
 42. Field487                           :   1451
 43. Field489                           : 136213
 44. Field541                           :  69784
 45. Field69                            :   4766
 46. Field70                            :   3017
 47. Field972                           :      2
 48. FilingId                           : 391321
 49. Filled                             :      1
 50. LimitedPartnershipsNumGenPartners  :      1
 51. LimitedPartnershipsNumLimPartners  :      1
 52. MortgagesNumMortCharges            :    246
 53. MortgagesNumMortOutstanding        :    204
 54. MortgagesNumMortPartSatisfied      :      6
 55. MortgagesNumMortSatisfied          :    151
 56. PreviousName_1CompanyName          :  64823
 57. RegAddressAddressLine1             : 339727
 58. RegAddressAddressLine2             :  88067
 59. RegAddressCareOf                   :   7372
 60. RegAddressCountry                  :      6
 61. RegAddressCounty                   :   2498
 62. RegAddressPOBox                    :   1116
 63. RegAddressPostCode                 : 264537
 64. RegAddressPostTown                 :  12658
 65. SIC1                               :     91
 66. SIC2                               :     11
 67. SIC3                               :     64
 68. Status20190701                     :      1
 69. country                            :      4
 70. cty                                :     30
 71. dAccountsLastMadeUpDate            :    993
 72. dAccountsNextDueDate               :   1298
 73. dConfStmtLastMadeUpDate            :    729
 74. dConfStmtNextDueDate               :   1066
 75. dContextInstant                    :    875
 76. dIncorporationDate                 :  17836
 77. dPreviousName_1CONDATE             :   5235
 78. dPreviousName_2CONDATE             :   4565
 79. dReturnsLastMadeUpDate             :   1201
 80. dReturnsNextDueDate                :   2020
 81. eAccountsAccountCategory           :     16
 82. eCompanyCategory                   :      2
 83. hasF1014                           :      2
 84. hasF1129                           :      2
 85. hasF1522                           :      2
 86. hasF1631                           :      2
 87. hasF17                             :      2
 88. hasF1865                           :      2
 89. hasF1871                           :      2
 90. hasF1885                           :      2
 91. hasF1977                           :      2
 92. hasF2298                           :      2
 93. hasF2304                           :      2
 94. hasF2316                           :      2
 95. hasF2447                           :      2
 96. hasF2483                           :      2
 97. hasF2497                           :      2
 98. hasF2502                           :      2
 99. hasF2506                           :      2
100. hasF2616                           :      2
101. hasF2619                           :      2
102. hasF2705                           :      2
103. hasF2815                           :      2
104. hasF282                            :      2
105. hasF306                            :      2
106. hasF448                            :      2
107. hasF465                            :      2
108. hasF474                            :      2
109. hasF487                            :      2
110. hasF489                            :      2
111. hasF541                            :      2
112. hasF69                             :      2
113. hasF70                             :      2
114. hasGNotice                         :      2
115. imd                                :  32477
116. imdu                               :  40419
117. isfailed                           :      2
118. lat                                : 248771
119. long                               : 254532
120. nSIC                               :    855
121. namechanged                        :      2
122. namechanged2                       :      2
123. oa11                               : 134726
124. oac1                               :      8
125. oac11                              :     76
126. oac2                               :     26
127. oseast1m                           : 173219
128. osnrth1m                           : 178402
129. pcd                                : 264473
130. ru11ind                            :     26